{% extends "base.html" %}

{% block content %}
    <h1>Типи та період випуску і експлуатації літаків</h1>
    <ul>
        <li>Перший літак, що здійснив польот в Україні - Ільюшин І-2 (1924)</li>
        <li>Літаки першого українського виробництва - АНТ-2 та АНТ-4 (1924)</li>
        <li>Літаки серії Як-1, Як-3, Як-7 та Як-9 виробництва Київського авіаційного заводу (1942-1948)</li>
        <li>Літаки МіГ-15, МіГ-17, МіГ-19, МіГ-21, МіГ-23 та Су-7 виробництва Запорізького авіаційного заводу (1951-1985)</li>
        <li>Літаки Ан-24, Ан-26, Ан-30, Ан-32, Ан-72 та Ан-74 виробництва Антонова (1960-1990)</li>
        <li>Літаки Ан-124, Ан-225, Ан-140 та Ан-148 також виробляються компанією Антонов</li>
        <li>Військово-транспортні літаки Іл-76, Іл-78, Ан-22, Ан-12, Ан-72, Ан-74</li>
        <li>Пасажирські літаки Ан-24, Ан-26, Ан-28, Ан-30, Ан-140, Ан-148, Ан-158, Бе-200, Іл-18, Іл-62, Іл-86, Іл-96, Ту-134, Ту-154, Ту-204</li>
    </ul>
{% endblock %}