{% extends "base.html" %}

{% block content %}
    <h1>Прайс-лист</h1>
    <table>
        <thead>
            <tr>
                <th>Товар або послуга</th>
                <th>Ціна</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Огляд музею авіації</td>
                <td>50 грн</td>
            </tr>
            <tr>
                <td>Екскурсія по музею авіації</td>
                <td>150 грн</td>
            </tr>
            <tr>
                <td>Відвідування симулятора</td>
                <td>100 грн</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
