{% extends "base.html" %}

{% block content %}
    <h1>Контакти</h1>
    <h2>Поштова адреса:</h2>
        <p>вул. Лісова, 1</p>
    <h2>Фактична адреса:</h2>
        <p>вул. Лісова, 1</p>
    <h2>Номер телефону:</h2>
        <p>+380 44 123 45 67</p>
    <h2>E-mail:</h2>
        <p>info@aviationmuseum.ua</p>
    <h2>Адреса сайту:</h2>
        <p>http://www.aviationmuseum.ua</p>
    <h2>Facebook:</h2>
        <p><a href="https://www.facebook.com/aviationmuseum">https://www.facebook.com/aviationmuseum</a></p>
    <h2>Telegram:</h2>
        <p><a href="https://t.me/aviationmuseum">https://t.me/aviationmuseum</a></p>
    <h2>Умови для клієнтів:</h2>
        <p>Діти до 6 років - безкоштовно</p>
{% endblock %}